{{yield}}
<nav class="menu-container">
  	<ul class="nav-list">
  		{{#link-to "edit"}}<li><label>Edit Mode</label></li>{{/link-to}}
  		{{#link-to "view"}}<li><label>View Mode</label></li>{{/link-to}}
  	</ul>
</nav>